.footer-main {
    width: 100%;
    height: 100px;
    background-color: rgb(200, 223, 249);
    color:rgb(124, 124, 124);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
        margin: 35px 30px;
    }
}

.scroll-to-top-main {
    background-color: aliceblue;
    padding: 15px 25px;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    right: 135px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

@media only screen and (min-height: 775px) {
    .footer-main {
        height: 140px;
    }

    .property-index-main {
        min-height: 200px;
    }
}